/* Doni Brysoni Mbaga */

@font-face {
  font-family: OpenSans;
  src: url("OpenSans-Regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url("OpenSans-Bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #ececec7a;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  border: 3px solid #d7d7d7;
  border-radius: 5px;
}

header {
  font-size: 1.0vw;
  width: 100%;
  height: 10%;
  border-bottom: 3px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  letter-spacing: 5px;
  color: #868686;
  font-weight: 700;
  cursor: pointer;
}

header nav {
  font-weight: 700;
  color: #e1e1e1;
}

nav a {
  text-decoration: none;
  color: #868686;
  font-size: 1.5em;
}

a:hover {
  color: #595959;
}

.intro {
  padding: 2.5em;
  line-height: 300%;
  letter-spacing: 3px;
  text-align: justify;
  color: #868686;
  font-size: 1.5vw;
}

.intro h2 {
  text-align: center;
}

footer {
  height: 12%;
  border-top: 3px solid #e1e1e1;
  text-align: center;
  color: #868686;
  padding: 1em;
}
